@import "_variables";

body {
  margin: 0;
  background-color: $color1;
  color: lighten($color1, 80%);
}

table.menu {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0;
  border-left: 0;
  border-right: 1px solid lighten($color1, 13%);
  border-bottom: 1px solid lighten($color1, 13%);
  border-bottom-right-radius: 6px;
  background-color: lighten($color1, 27%);
  box-shadow: darken($color1, 20%) 0 0 15px;
  font-family: $serif-fonts;

  td {
    text-align: center;

    h1 {
      margin: 0 10px;
      font-size: 20px;
    }

    button {
      width: 80%;
      background-color: $color2;
      color: darken($color1, 13%);
      text-align: center;
      font-family: $serif-fonts;
      font-weight: normal;
      font-size: 12px;
      border: 1px solid lighten($color1, 13%);
      transition: width 0.5s, background-color 0.5s;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background-color: lighten($color2, 3%);
        width: 85%;
        transition: width 0.5s, background-color 0.5s;
      }

      &:active,
      &:focus {
        outline: none;
      }
    }
  }

  td.label {
    width: 80px;
  }

  td.label,
  td.result {
    text-align: right;
  }
}

.clicky {
  position: absolute;
  border-radius: 50%;
  background-color: darken($color2, 7%);
  border: 1px solid lighten($color1, 13%);
  box-shadow: darken($color1, 20%) 0 0 15px;

  &:hover {
    cursor: pointer;
  }
}
